<div class="error">{{error-message}}</div>
<form action="/shorten" method="post">
    <input type="url" name="url" size="32" placeholder="URL (leave blank to perform look-up)" /> 
    <input type="text" name="code" minlength="4" maxlength="16" size="16" placeholder="Optional: Code" /> 
    <button type="submit">Go!</button>
</form>
<a class="footer" href="/view">View all</a>