html {
    background-color: white;
    color: darkslategray;
    text-align: center;
    font-family: helvetica;
    height: 100%;
}

body {
    margin: 5em 1em;
    height: calc(100% - 10em);
}

h1 {
    font-size: 4em;
    letter-spacing: 0.1em;
    font-variant: all-small-caps;
}

a {
    text-decoration: none;
    color: darkseagreen;
}

a:hover {
    color: white;
    background-color: darkseagreen;
}

a h1 {
    color: darkslategray;
}

label, input {
    vertical-align: bottom;
}

.error {
    color: red;
    font-style: oblique;
    margin: 1em;
}

.footer {
    position: absolute;
    bottom: 1em;
}

table {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: lightyellow;
}

tr:first-child {
   background-color: darkslategray;
   color: white;
}

td {
    padding: 0.25em 0.5em;
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}